<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>scale_factor</key>
        <real>1</real>
        <key>category_names</key>
        <array>
            <string>allUnits</string>
            <string>bit_1</string>
            <string>bit_2</string>
            <string>bit_3</string>
            <string>bit_4</string>
            <string>bit_5</string>
            <string>bit_6</string>
            <string>bit_7</string>
            <string>bit_8</string>
            <string>bit_9</string>
            <string>bit_10</string>
            <string>bit_11</string>
            <string>bit_12</string>
            <string>bit_13</string>
            <string>bit_14</string>
            <string>bit_15</string>
            <string>bit_16</string>
            <string>bit_17</string>
            <string>bit_18</string>
            <string>bit_19</string>
            <string>bit_20</string>
            <string>bit_21</string>
            <string>bit_22</string>
            <string>bit_23</string>
            <string>bit_24</string>
            <string>bit_25</string>
            <string>bit_26</string>
            <string>bit_27</string>
            <string>bit_28</string>
            <string>bit_29</string>
            <string>bit_30</string>
            <string>bit_31</string>
        </array>         
        <key>bodies</key>
        <dict>

            <key>diver</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.00000,0.00000 }</string>
                <key>is_static</key>
                <false/>
                <key>affected_by_gravity</key>
                <true/>
                <key>allows_rotation</key>
                <true/>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>mass</key>
                        <real>1</real>
                        <key>elasticity</key>
                        <real>0.2</real>
                        <key>friction</key>
                        <real>0.7</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>corner_radius</key>
                        <real>0</real>
                        <key>collision_categories</key>
                        <integer>1</integer>
                        <key>collision_mask</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <string></string>
                        <key>collision_group</key>
                        <string></string>
                        <key>is_sensor</key>
                        <false/>
                        
                        
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        <key>polygons</key>
                        <array>
                            <array>   
                                <string>{ 72.00000,0.00000 }</string>   
                                <string>{ 1.00000,18.00000 }</string>   
                                <string>{ 30.00000,18.00000 }</string>   
                                <string>{ 81.00000,8.00000 }</string>   
                                <string>{ 83.00000,0.00000 }</string>
                            </array>
                            <array>   
                                <string>{ 81.00000,8.00000 }</string>   
                                <string>{ 30.00000,18.00000 }</string>   
                                <string>{ 42.00000,29.00000 }</string>   
                                <string>{ 83.00000,29.00000 }</string>   
                                <string>{ 87.00000,21.00000 }</string>   
                                <string>{ 86.00000,11.00000 }</string>
                            </array>
                            <array>   
                                <string>{ 16.00000,32.00000 }</string>   
                                <string>{ 30.00000,18.00000 }</string>   
                                <string>{ 1.00000,18.00000 }</string>   
                                <string>{ 2.00000,28.00000 }</string>   
                                <string>{ 5.00000,32.00000 }</string>
                            </array>
                        </array>
                        
                        
                    </dict>

                </array>
            </dict>

            <key>singleBackground</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.00000,0.00000 }</string>
                <key>is_static</key>
                <true/>
                <key>affected_by_gravity</key>
                <false/>
                <key>allows_rotation</key>
                <false/>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>mass</key>
                        <real>1</real>
                        <key>elasticity</key>
                        <real>0.2</real>
                        <key>friction</key>
                        <real>0.7</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>corner_radius</key>
                        <real>0</real>
                        <key>collision_categories</key>
                        <integer>1</integer>
                        <key>collision_mask</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <string></string>
                        <key>collision_group</key>
                        <string></string>
                        <key>is_sensor</key>
                        <false/>
                        
                        
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        <key>polygons</key>
                        <array>
                            <array>   
                                <string>{ 54.50000,706.00000 }</string>   
                                <string>{ 2.00000,768.50000 }</string>   
                                <string>{ 47.00000,768.50000 }</string>
                            </array>
                            <array>   
                                <string>{ 968.50000,571.00000 }</string>   
                                <string>{ 1023.50000,6.00000 }</string>   
                                <string>{ 925.50000,512.00000 }</string>
                            </array>
                            <array>   
                                <string>{ 894.00000,380.50000 }</string>   
                                <string>{ 1023.50000,6.00000 }</string>   
                                <string>{ 630.50000,67.00000 }</string>   
                                <string>{ 744.50000,352.00000 }</string>
                            </array>
                            <array>   
                                <string>{ 255.00000,125.50000 }</string>   
                                <string>{ -0.50000,3.00000 }</string>   
                                <string>{ 198.50000,191.00000 }</string>   
                                <string>{ 230.50000,173.00000 }</string>
                            </array>
                            <array>   
                                <string>{ 1017.00000,768.50000 }</string>   
                                <string>{ 1023.50000,6.00000 }</string>   
                                <string>{ 968.50000,571.00000 }</string>   
                                <string>{ 971.50000,722.00000 }</string>   
                                <string>{ 999.00000,767.50000 }</string>
                            </array>
                            <array>   
                                <string>{ 117.00000,632.50000 }</string>   
                                <string>{ 123.50000,578.00000 }</string>   
                                <string>{ 108.50000,453.00000 }</string>   
                                <string>{ 54.50000,706.00000 }</string>   
                                <string>{ 96.50000,673.00000 }</string>
                            </array>
                            <array>   
                                <string>{ 505.00000,56.50000 }</string>   
                                <string>{ -0.50000,3.00000 }</string>   
                                <string>{ 294.00000,88.50000 }</string>   
                                <string>{ 411.00000,86.50000 }</string>
                            </array>
                            <array>   
                                <string>{ 145.50000,286.00000 }</string>   
                                <string>{ 108.50000,453.00000 }</string>   
                                <string>{ 136.50000,376.00000 }</string>
                            </array>
                            <array>   
                                <string>{ 108.50000,453.00000 }</string>   
                                <string>{ 2.00000,768.50000 }</string>   
                                <string>{ 54.50000,706.00000 }</string>
                            </array>
                            <array>   
                                <string>{ 145.50000,286.00000 }</string>   
                                <string>{ -0.50000,3.00000 }</string>   
                                <string>{ 1.00000,768.50000 }</string>   
                                <string>{ 2.00000,768.50000 }</string>   
                                <string>{ 108.50000,453.00000 }</string>
                            </array>
                            <array>   
                                <string>{ 1023.50000,6.00000 }</string>   
                                <string>{ 930.00000,407.50000 }</string>   
                                <string>{ 940.50000,432.00000 }</string>
                            </array>
                            <array>   
                                <string>{ 1023.50000,6.00000 }</string>   
                                <string>{ 894.00000,380.50000 }</string>   
                                <string>{ 930.00000,407.50000 }</string>
                            </array>
                            <array>   
                                <string>{ -0.50000,3.00000 }</string>   
                                <string>{ 630.50000,67.00000 }</string>   
                                <string>{ 1023.50000,6.00000 }</string>
                            </array>
                            <array>   
                                <string>{ -0.50000,3.00000 }</string>   
                                <string>{ 255.00000,125.50000 }</string>   
                                <string>{ 294.00000,88.50000 }</string>
                            </array>
                            <array>   
                                <string>{ -0.50000,3.00000 }</string>   
                                <string>{ 145.50000,286.00000 }</string>   
                                <string>{ 198.50000,191.00000 }</string>
                            </array>
                        </array>
                        
                        
                    </dict>

                </array>
            </dict>

        </dict>
    </dict>
</plist>




